h1 {
    color:red;
}
#heading-2 {
    color:blue;
}
.heading {
    color:green;
}
.para {
    border:2px;
    border-color:black;
    border-style:solid;
    padding:20px;
    text-align: center ;
}
.navbar{
    border:2px;
    border-color:black;
    border-style:solid;
    padding:15px;
    background-color: bisque;
    text-align: center;
}
.navbar a{
    color :darkmagenta;
    padding:15px;
    text-decoration: none;
}
.navbar a:hover{
    background-color:darkgrey;
    color: white;
}
body{
    margin :0px;
}
.card{
    border:2px solid black;
    width:300px;
    text-align:center;
    margin-top: 60px;
    margin-left: 750px;

}
.card img{
    width:100%;
    
}
.card button{
    margin-bottom: 20px;
    
}
.autosuggest{
    border:2px solid black;
    width:300px;
    text-align:center;
    margin:60px auto;
    padding:20px;
    border-radius:15px;
    background-color:white;
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}